<mat-card flex-gt-sm>
  <mat-card-title>Page Not Found</mat-card-title>
  <mat-card-content>
    <div
      layout="column"
      layout-align="center center"
      class="tc-grey-500 mat-typography pad-lg"
    >
      <mat-icon matListAvatar class="text-super push-bottom">search</mat-icon>
      <h2>404</h2>
      <h3>The page you were looking for is missing.</h3>
      <a mat-raised-button color="primary" [routerLink]="['/']" matRipple>
        Return To Home Page
      </a>
    </div>
  </mat-card-content>
</mat-card>
