<td-layout class="layout-nav-demo">
  <td-layout-nav icon="toll" toolbarTitle="BOI Coins" navigationRoute="/">
    <td-layout-manage-list [opened]="true" mode="side">
      <div td-sidenav-content>
        <mat-nav-list td-sidenav-content>
          <a mat-list-item matRipple [routerLink]="['/markets']">
            <mat-icon matListAvatar>insert_chart_outlined</mat-icon>
            <h3 matLine>Market Data</h3>
          </a>
          <mat-divider [inset]="false"></mat-divider>

          <a mat-list-item matRipple [routerLink]="['/coins', 'example']">
            <mat-icon matListAvatar>toll</mat-icon>
            <h3 matLine>Unknown item</h3>
            <p matLine>trigger 404</p>
          </a>
          <mat-divider [inset]="false"></mat-divider>
        </mat-nav-list>
      </div>
      <mat-toolbar>
        <td-breadcrumbs #breadcrumbs>
          <a td-breadcrumb [routerLink]="['/markets']">Markets</a>
        </td-breadcrumbs>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </td-layout-manage-list>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption"
          >Copyright &copy; {{ year }} BOI Coins. All rights reserved</span
        >
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
